* {
  margin: 0;
  padding: 0;
}
.discribe {
  display: flex;
  flex-direction: column;
}
img {
  margin-left: 15px;
}
.offerTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.btnTelechargement_0 > buttun {
  background-color: #851342;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  border-radius: 15px;
  padding-right: 15px;
  padding-left: 15px;
}
.btnTelechargement_1 {
  background-color: #851342;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 408px;
  border-radius: 15px;
  padding-right: 15px;
  padding-left: 15px;
}

.boite {
  border-radius: 15px;
  border: solid black 2px;
  width: 50%;
}
.boite:hover {
  border: solid blue 2px;
}

.apply {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.btnContenu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.btnDoc {
  display: block;
  margin: 10px;
  width: 180px;
  height: 35px;
  border-radius: 10px;
  border: solid black 2px;
  color: black;
  background-color: white;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}
