.file-card {
  background-color: #fff;
  border: 3px dashed black;
  min-width: 380px;
  min-height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .file-inputs {
    position: relative;
    margin-bottom: 1.5em;
    i {
      width: 1.5em;
      height: 1.5em;
      padding: 0.4em;
      background-color: #fff;
      color: #ca2061;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 0.8em;
      font-size: 0.8em;
    }
    &:hover {
      button {
        background-color: #ca2061;
      }
    }
  }
}
