* {
  margin: 0;
  padding: 0;
}
.presentationoffre {
  width: 90%;
  margin: auto;
  display: flex;
  gap: 90px;
  margin-bottom: 50px;
}
.details {
  margin: 10px;
}

.border {
  width: 50%;
}
.offer {
  padding: 10px;
}
.offer {
  height: 70vh;
}
.offre {
  height: 72vh;
  width: 80%;
  overflow-y: scroll;
  border-radius: 15px;
  border: solid black 2px;
}
.details > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.btn {
  background-color: black;
  width: 25%;
  margin-top: 50px;
}
.btn:hover {
  background-color: #851342;
}
