* {
  margin: 0;
  padding: 0;
}
.bordureOffres {
  padding: 10px;
  margin: auto;
  margin-bottom: 30px;
  height: 110vh;
  width: 100%;
  border-radius: 25px;
  border: solid black 2px;
}

.bordureOffres:hover {
  border: solid blue 2px;
}
.offres {
  display: flex;
}

strong {
  color: black;
  text-decoration: underline;
  font-weight: bolder;
}
a {
  color: #000;
  text-decoration: none;
  font-size: 2rem;
  cursor: pointer;
}
