.bordure {
  margin: auto;
  width: 80%;
  border-radius: 25px;
  border: solid black 4px;
}
.box {
  display: flex;
}
.bordure:hover {
  border: solid blue 4px;
}
.offer {
  width: 100%;
  height: 100vh;
  margin: 20px;
  overflow-y: scroll;
}
.suboffer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

button img {
  width: 60px;height: 100vh;
}
.btnEtoile {
  background-color: transparent;
  width: fit-content;
  max-width: 9%;
}
.btnEtoile:hover {
  background-color: inherit;
}
strong {
  color: black;
  text-decoration: underline;
  font-weight: bolder;
}
a {
  color: #000;
  text-decoration: none;
  /* margin: 2%; */ 
  /* A renommer cette div par rapport à tes besoins spécifiques, car le margin impacte sur le header */
}
.describe {
  padding: 0 15px;
}
