@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap");

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 300px;
  padding: 30px;
  font-family: "Jost", sans-serif;
}

.login-card h2 {
  margin-bottom: 10px;
  margin-top: 25px;
  font-size: 25px;
  color: red;
  padding-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-family: "Jost", sans-serif;
  font-weight: 800;
}

input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  font-family: "Jost", sans-serif;
}

button {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  background-color: #CA2061;
  color: white;
  border: none;
  cursor: pointer;
  font-family: "Jost", sans-serif;
}

button:hover {
  background-color: #0056b3;
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.firstandSecondGroup {
  display: flex;
 
}

.error-message {
  color: red;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-family: "Jost", sans-serif;
  font-size: 14px;
}


 


